<!--{% load static %}-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Articles list</title>
        <link rel="stylesheet" href="{% static 'styles2.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <nav>
                <ul>
                    <li>
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
